<div id="next-time" class="ml-auto mx-5" x-data="countdown">
    <p class="text-gray-400">Next song in <span x-init="init({{ nextSongSeconds }})" x-text="time">{{
            nextSongSeconds }}</span>
        second(s)</p>
</div>