<div id="visual-column">
    <div class="from-[#7dcefc] to-[#8dbc85] bg-gradient-to-b rounded-lg p-4">
        {% include "quiz/CoverArt.njk" %}
    </div>
    {% include "quiz/PlaybackIndicator.njk" %}
</div>