{% extends "BaseLayout.njk" %}

{% block main %}
<div class="max-w-[50em] sm:mx-auto my-20 mx-4" hx-ext="ws" ws-connect="/ws">
  {% include "quiz/QuizHeading.njk" %}
  {% include "lobby/LobbyWorkspace.njk" %}
  <script src="/assets/js/AudioPlayer.js" defer></script>
{% endblock %}