<div id="workspace" class="grid sm:grid-cols-2 gap-4">
  <div class="bg-brand-card rounded-lg text-whitae p-4">
    <p>You find yourself in the lobby. Welcome.</p>
    <div class="text-center">
      <button hx-trigger="click" ws-send="" name="operation" value="start-game" class="my-2 p-2">
        Start Quiz
      </button>
    </div>
  </div>
  <div class="bg-brand-card rounded-lg text-white p-4">
    <h2>Currently connected players:</h2>
    {% include "lobby/PlayerList.njk" %}
  </div>
</div>
</div>